html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-weight: 100;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;;
    color: rgb(78, 86, 101);
    line-height: 22pt;
}

header {
    text-align: center;
    border-bottom: 1px solid rgb(230, 230, 230);
}

header h1 {
    font-size: 17pt;
    font-weight: 100;
}

.logo {
    text-align: center;
    margin: 20px;
    margin-bottom: 0px;
}

.logo img {
    height: 45px;
}

.leaderboard {
    text-align: center;
    font-size: 17pt;
}

.description {
    text-align: center;
    font-size: 12pt;
    margin-top: 10px;
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: #4a9bff;
}

a:hover {
    text-decoration: underline;
}

table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    margin: 0;
}

thead tr {
    text-align: left;
    font-size: 12px;
    text-transform: uppercase;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f8f8f8;
    height: 38pt;
}

th {
    width: 50px;
    font-weight: 100;
    font-size: 14px;
    text-align: left;
    vertical-align: middle;
    padding-left: 15px;
}

tr {
    height: 49px;
    border-bottom: 1px solid #e0e0e0;
    background-color: none;
}

tr.highlight {
    background-color: rgba(74, 156, 255, 0.1);
}

tr:hover {
    background-color: #f8f8f8;
}

td {
    width: 50px;
    text-align: left;
    vertical-align: middle;
    padding-left: 15px;
}

.create {
  max-width: 800px;
  margin: 0 auto;
}

input {
  width: 100%;
  border-radius: 2px;
  font-size: 14pt;
  border: 1px solid rgba(0,0,0,0.125);
  padding: 4px;
  margin-bottom: 20px;
}

button {
  background-color: #4a9bff;
  color: #fff;
  font-size: 14pt;
  padding: 10px 14px;
  border-radius: 2px;
  font-weight: bold;
  border: none;
}

button:hover {
    background-color: #3a8bef;
    cursor: pointer;
}

#response {
  width: 100%;
  padding: 16px;
  border: 1px solid rgba(0,0,0,0.125);
  background-color: rgba(0,0,0,0.05);
  font-family: monospace;
  margin-top: 30px;
  border-radius: 5px;
}

.title {
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}

#titleimg {
  width: 120px;
}

.title a {
  font-weight: 400;
}